.titulo{
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    /* background: linear-gradient(135deg, #4facfe, #00f2fe); */
    background-image: url('fundo.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ececec;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    background: rgba(0, 0, 0, 0.925);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(126, 126, 126, 0.5);
}

.perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #fff;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.links a {
    display: block;
    background: #fff;
    color: #333;
    text-decoration: none;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.links a i {
    margin-right: 8px;
}

.links a:hover {
    background: #b54c4c;
    color: #fff;
    transform: scale(1.05);
}

